body {
    font-weight: bold;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  color: #ffffff;
  text-align: center;
}

.inputBox{
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.inputBox input[type="text"], .inputBox input[type="email"]{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0px 10px;
  font-size: 16px;
  color: #444;
}

.inputBox textarea{
  width: 100%;
  height: 120px;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0px 10px;
  font-size: 16px;
  color: #444;
}

.inputBox button{
  width: 100%;    
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #da5632;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  
}

.inputBox button:hover{
  background: #D2471F;
  transition: all 0.3s ease;
}

::placeholder{
  font-size: 16px;
}

.alert{
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}



