#div {
    background-color: #044455;
}

h1 {
    font-family: oswald;
    color: black;
    padding: 35px;
    font-size: 80px;
    border-style: double hidden double hidden;
    text-align: center;
    font-style: italic;
 
}

h2 {
    font-family: oswald;
    margin: 20px;
    color: black;
    padding: 20px;
    font-size: 80px;
    border-style: double hidden double hidden;
    text-align: center;
    font-style:italic;
}

#jumboinfo3 {
    margin: 20px;
    padding-right: 20px;
    font-family: indie flower;
    font-size: 30px;
}

#jumboinfo4 {
    margin: 20px;
    padding-right: 20px;
    font-family: indie flower;
    font-size: 28px;
}

h4 {
    font-family: oswald;
    color: black;
    font-size: 80px;
    text-align: left;
    font-style: italic;
}

#slideshow {
    width: 100%;
    margin-top: 60px;
}

#box {
    margin-top: 60px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}