{% load static %}
<!DOCTYPE html>
<html>

<head>
  
  <!--LINKS-->
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="{% static 'js/entry.js' %}"></script>
  <link rel="stylesheet" type="text/css" href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
  <link rel="stylesheet" type="text/css" href="{% static 'css/entry.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <title>TweakMart</title>
  <!--LINKS-->
  
</head>

<!--BODY BACKGROUND PICTURE-->
<body style="background-image:url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000)">
<!--BODY BACKGROUND PICTURE-->
  
<!--NAVATION BAR-->
 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div id="navblue" class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="brand">TweakMart</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="main-nav" class="nav navbar-nav">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="market.html">Market</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li class="active"><a href="{% url 'login' %}">Login/Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!--NAVATION BAR-->

<!--LOGIN/REGISTER-->
<div class="hero">
  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" class="toggle-btn" onclick="logintab()">Login</button>
      <button type="button" class="toggle-btn" onclick="registertab()">Register</button>
    </div>
    <form id="login" class="input-group" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="email" class="input-field" placeholder="Email" required>
      <input type="text" class="input-field" placeholder="Password" required>
      <button type="submit" class="btn btn-primary">Login</a>
    </form>
    <form id="register" class="input-group">
      <input type="text" class="input-field" placeholder="Username" required>
      <input type="email" class="input-field" placeholder="Email" required>
      <input type="text" class="input-field" placeholder="Password" required>
      <a href="login.html" class="btn btn-primary">Register</a>
    </form> 
  </div>
</div>
<!--LOGIN/REGISTER-->

<script type="text/javascript" src="{% static 'js/entry.js' %}"></script>
</body>
</html>