{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!--LINKS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
  <!--LINKS-->
  <title>TweakMart</title>
</head>

<body>
<!--LOGIN/REGISTER-->
<div class="box">
  <div class="form">
    <h2>Register</h2>
    <form method="POST" action="">{% csrf_token %}
      <div class="inputBox">
        {{ form.username }}
        <span>Username</span>
        <i></i>
      </div>
      <div class="inputBox">
        {{ form.email }}
        <span>Email</span>
        <i></i>
      </div>
      <div class="inputBox">
        {{ form.password1 }}
        <span>Password</span>
        <i></i>
      </div>
      <div class="inputBox">
        {{ form.password2 }}
        <span>Confirm Password</span>
        <i></i>
      </div>
      <div class="links">
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Login here</a>
      </div>
      <input type="submit" value="Register">
    </form>
  </div>
</div>
<!--LOGIN/REGISTER-->
</div>
</body>

</html>