{% extends "base.html" %}

{% block metadata %}
    <title>Market</title>
{% endblock %}

{% block urls %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'market' %}">Market</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    {% if loggedIn %}
        <li><a href="memberprofile.html">Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login/Register</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Market</h1>
    <form action="{% url 'market-lot' %}" method="GET" >
        <button>Add Lot</button>
    </form>
    {% for lot in lots %}
    <div style="background-color: white;">
        <img src={{ lot.image.url }} />
        <h2>Name: {{ lot.name }}</h2>
        <p>Description: {{ lot.description }}</p>
        <p>Starting Bid: {{ lot.startBid }}</p>
        <p><a href="deleteLot/{{ lot.id }}">delete</a></p>
    </div>
    {% endfor %}
{% endblock %}