{% extends "base.html" %}

{% block metadata %}
    <title>Market</title>
{% endblock %}

{% block urls %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'market' %}">Market</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'memberprofile' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li>Balance: {{ user.profile.bal }}</li>
    {% else %}
        <li><a href="{% url 'login' %}">Login/Register</a></li>
    {% endif %}
{% endblock %}

{% block content %}

    <div style= "position:fixed; height: 100%; width: 120px;">
        <form action="{% url 'market-lot' %}" method="GET" style="position: sticky; top: 140px;">
            {% if user.is_authenticated %}
                <button style="width:120px; height:50px">Add Lot</button>
            {% endif %}
        </form>
    </div>
    {% for lot in lots %}
    <div style="background-color: white; margin-left:20%; margin-right:20%">
        <img src="{{ lot.image.url }}" style="max-width:600px;width:100%;max-height:600px;height:100%; display: block; margin-left: auto; margin-right: auto;"   />
        <h2><a href="lot/{{ lot.id }}">Name: {{ lot.name }}</a></h2>
        <p>Description: {{ lot.description }}</p>
        <p>Starting Bid: ${{ lot.startBid }}</p>
        {% if user.is_authenticated %}
            <p><a href="deleteLot/{{ lot.id }}">delete</a></p>
            <p><a href="bid/{{ lot.id }}">Place a Bid</a></p>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}