<!DOCTYPE html>
<html>

<head>
  
  <!--LINKS-->
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="memberprofile.js"></script>
  <link rel="stylesheet" type="text/css" href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
  <link rel="stylesheet" type="text/css" href="/categories/listing.css">
  <link rel="stylesheet" type="text/css" href="/navbar.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <title>TweakMart</title>
  <!--LINKS-->
  
</head>

<!--BODY BACKGROUND PICTURE-->
<body style="background-color: #78A5A3;">
<!--BODY BACKGROUND PICTURE-->

<!--SIDE BAR-->
<div class="sidenav">
    <a href="/OU/memberhome.html">Home</a>
    <a href="/OU/memberprofile.html" class="active">Personal Information</a>
    <a href="/OU/memberpaymentandwallet.html">Payment & Wallet</a>
    <a href="/OU/membertransaction.html">Transaction</a>
    <a href="/home.html">Logout</a>
</div> 
<!--SIDE BAR-->

<div style="margin-left: 200px; margin-top: 100px; border: solid; height: 500px; width: 40%; padding: 1%; display: inline-block">
    <p>Username</p>
    <div>
        <input type="text" placeholder="New Username">
    </div>
    <br>
    <p>Phone Number</p>
    <div>
        <input type="text" placeholder="New Phone Number">
    </div>
    <br>
    <p>Address</p>
    <div>
        <input type="text" placeholder="New Address">
    </div>
    <br>
    <button>Save Changes</button>
</div>

<div style="border: solid; height: 500px; width: 40%; padding: 1%; display: inline-block;">
    <p>Old Password</p>
    <div>
        <input type="password" placeholder="Old Password">
    </div>
    <br>
    <p>New Password</p>
    <div>
        <input type="password" placeholder="New Password">
    </div>
    <br>
    <p>Retype Password</p>
    <div>
        <input type="text" placeholder="Retype Password">
    </div>
    <br>
    <button>Save Changes</button>
</div>

<script type="text/javascript" src="memberprofile.js"></script>
</body>
</html>