{% extends "base.html" %}

{% block metadata %}
    <title>Contact</title>
{% endblock %}

{% block urls %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'market' %}">Market</a></li>
    <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'memberprofile' %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      <li>Balance: {{ user.profile.bal }}</li>
    {% else %}
      <li><a href="{% url 'login' %}">Login/Register</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<!--CONTACT FORM-->
  <div class="container">
  <form action="" id="contactForm">
    <div style="line-height:500%;">
      <br>
      <h1 style="color:#ffffff;font-weight: 900;">Got Questions? Need Help?</h1>
      <h3 style="color:#ffffff;font-weight: 900;">We Will Get Back To You As Soon As Possible!</h3>
    </div>
    <!--<div class="alert">Message Has Been Sent!</div>-->
  
    <div class="inputBox">
        <input type="text" id="name" placeholder="Your Name" required/>
    </div>
  
    <div class="inputBox">
        <input type="email" id="emailid" placeholder="Your Email" required/>
    </div>
  
    <div class="inputBox">
        <textarea id="msgContent" cols="30" rows="10" placeholder="Message" required></textarea>
    </div>
  
    <div class="inputBox">
        <button type="submit" onclick="myFunction()">Submit</button>
    </div>
  </form>
  </div>
  <h4 style="color:#ffffff;text-align: center;font-weight: 900;">Or you can email us directly at OfficialTweakMart@gmail.com</h4>
  <!--CONTACT FORM-->
    
{% endblock %}